.order-details-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    height: 100%;
    justify-content: space-between;
    overflow-y: scroll;
}
.order-details-container::-webkit-scrollbar { 
    width: 0; 
}
.order-details-container h3 {
    padding-bottom: 1rem;
}
.order-details p {
    padding: 5px 0;
}
.order-details > div {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px 0 5px;
    -webkit-box-shadow: inset 48px 52px 17px -35px rgba(0,0,0,0.28);
    -moz-box-shadow: inset 48px 52px 17px -35px rgba(0,0,0,0.28);
    box-shadow: inset 48px 52px 17px -35px  rgba(0,0,0,0.28);
}
.order-details > div div {
    margin-top: 10px;
}
.order-details > div div p {
    margin-left: 10px;
}
.order-details > div  p:first-child {
    margin: 0;
}
.drivers-list-modal-wrapper {
    position: relative;
    max-height: 60%;
}
.drivers-list > div:nth-child(even) {
    background-color: #ddd8d8;
}
.drivers-list {
    display: grid;
    padding: 0 1rem;
    height: 40vh;
    align-content: flex-start;
    overflow-y: scroll;
}
.drivers-list::-webkit-scrollbar {
    width: 0;
}
.drivers-list > div:first-child {
    padding: 1rem 0;
    border-bottom: 1px solid #686565;
    margin-bottom: 0.5rem;
    max-height: 10%
}
.drivers-list > div {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-content: center;
    height: 100%;
    padding: 0.5rem 0;
}
.drivers-list > div + div span:last-child {
    display: flex;
    flex-direction: row;
}
.drivers-list > div + div span {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}
.drivers-list > div + div span:last-child > button:first-child {
    background-color: #27d83e;
}
.drivers-list > div + div span:last-child > button:last-child {
    background-color: #66a7f1;
}
.order-configuration {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    height: 40%;
}
.order-configuration h3 + div {
    padding-bottom: 10px
}
.order-configuration > div {
    display: flex;
    flex-direction: row;
}
.order-configuration > div div {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 100%;
}
.order-configuration > div > div > div {
    display: flex;
    flex-direction: row;
    color: #c0c0c0
}
.order-configuration > div > div > div input {
    width: 90%;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    outline: none;
    height: 2rem;
}
.order-configuration > div > div > div span {
    padding-top: 1rem;
}
.order-configuration > div div > p:first-child {
    font-size: 1.3rem;
    font-weight: bold;
}
.order-configuration > div div > p:last-child {
    padding-top: 1rem;
    color: #18c06c;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 auto;
}
.order-configuration > div div:last-child textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 80%;
    width: 100%;
    resize: none;
    padding: 1rem;
    border: 1px solid #6d6c6c;
    border-radius: 5px;
}
.place-bid-buttons button:first-child {
    background-color: #18c06c;
    height: 2rem;;
}
.place-bid-buttons button:last-child {
    background-color: #c0c0c0;
    margin-left: auto;
}
.change-bid-buttons button:first-child {
    background-color: #18c06c;
    height: 2rem;;
}
.change-bid-buttons button:last-child {
    background-color: #c0c0c0;
    margin-left: auto;
}
.change-bid-buttons button:nth-child(2) {
    background-color: #ff0000;
    margin-left: auto;
}
