.bids-container {
    display: grid;
    padding: 2.5rem;
    overflow-x: scroll;
    height: 100%;
    align-content: flex-start;
}
.bids-header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
.bids-container::-webkit-scrollbar { 
    width: 0; 
}
.bids-header {
    align-content: center;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.bids-item {
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 2px;
    cursor: pointer;
}
.denied {
    background-color: #f2120d;
}
.pending {
    background-color: #e1e1e1;
}
.accepted {
    background-color: #00ae00;
}
#scrollableDiv {
    display: grid;
    overflow: auto;
    height: 100%;
    align-content: flex-start;
}
.bids-item {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
#scrollableDiv::-webkit-scrollbar {
    width: 0;
}